[submodule "bsm_input"]
	path = bsm_input
	url = git://github.com/ksamdev/bsm_input.git
[submodule "bsm_stat"]
	path = bsm_stat
	url = git://github.com/ksamdev/bsm_stat.git
[submodule "bsm_core"]
	path = bsm_core
	url = git://github.com/ksamdev/bsm_core.git
